.gitsecret/keys/random_seed
!*.secret
tmp/*
vendor/*
node_modules/*
tests/*
src/*
public_html/assets/img/*


framework/Config/environment/Development.json
framework/Config/environment/Production.json
framework/Config/environment/Testing.json
framework/Config/.htpasswd
.user.ini
