.gitsecret/keys/random_seed
!*.secret
.tmp/*
!*.example
*.cache
*.session
*.log
.docker/db/mysql_data/*
*.svn
*.hg
*.DS_Store
*.db
robot.txt


.docker/db/init_scripts/dev_db_instance.sql
.security/gpg/gpg_private_key.gpg
.security/passwords/db_root_password.txt
.security/passwords/db_password.txt
.security/gpg/gpg_private_key.gpg
.config/Testing.json
.config/Production.json
.config/Development.json
.env
src/app/.htaccess
src/.framework/.htaccess
src/public_html/.htaccess
src/.htaccess
.htpasswd
.security/gpg/private_keys/gpg_private_key.gpg
