    <nav class="navbar-container">
      <div class="logo">
        <a href="#" title="Home">
          <i class="fas fa-shapes"></i>
          <span class="logo-capital-letters">S</span>hape
          <span class="logo-capital-letters">S</span>hare
        </a>
      </div>
      <div class="navbar-dropdown">
        <div class="navbar-dropbtn">
          <i class="fa-solid fa-bars" title='Register/Login'></i>
        </div>
        <div class="navbar-dropdown-content">
          <a href="#" title="Register">Register
            <i class="fas fa-user-circle"></i>
          </a>
          <a href="#" title="Login">Login
            <i class="fas fa-sign-in-alt"></i>
        </div>
      </div>
    </nav>