[mysqld]
# Disable connections from anywhere except for local machine
bind-address = 127.0.0.1
# Disable access to underlying filesystem w/o file-level privileges
local-infile = 0
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
default_authentication_plugin=mysql_native_password

