/* || General Styling || */

@font-face {
  font-family: latin_modern;
  src: url(latin_modern.woff);
}

html,
body {
  font-family: "latin_modern", sans-serif;
}

/* || STATIC PAGES || */

.static-page {
  background-color: black;
}

.static-page-body {
  display: flex;
  max-width: 100%;
  background-color: black;
}

.static-page-body a {
  color: white;
}

.static-page-image {
  display: flex;
  margin: auto;
  max-width: 100%;
  height: auto;
  justify-content: center;
}

.static-page-image img {
  min-width: 100%;
  object-fit: fill;
}

.static-page-overlay {
  position: fixed;
  display: block;
  width: 75%;
  height: auto;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background: #0d136b;
  opacity: 0.8;
  border-radius: 4px;
  top: 10px;
  bottom: 260px;
  overflow: scroll;
}

.static-page-text,
.static-page-text2 {
  position: relative;
  color: white;
  margin: 0 auto;
  padding: 20px 20px 20px 20px;
  line-height: 1.5;
  font-size: 25px;
}

.static-page-text2 {
  text-align: center;
  font-size: 30px;
}

/* || FORMS || */

.form-container {
  position: relative;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

form {
  width: 60%;
  background-color: #0d136b;
  box-shadow: 0 2px 4px 0 rgb(255, 255, 255); 
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  color: white;
  font-size: 25px;
  margin-bottom: 50px;
}

form a {
  text-decoration: underline;
  color: white;
}

form i {
  padding: 10px;
  background-color: #b7c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
  color: black;
  min-width: 50px;
  text-align: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 4px;
}

form label {
  font-size: 25px;
}

.form-header {
  box-shadow: 0 2px 4px 0 rgb(255, 255, 255);
  text-align: center;
  justify-content: center;
  width: 100%;
  font-size: 35px;
}

.form-row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.form-preview {
  display: relative;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-content: center;
  margin: 10px 10px;
}

.input-container {
  width: 90%;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input-field {
  flex-direction: column;
  width: 90%;
}

.input-field:focus {
  background-color: #b7c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

#checkTC,
 #checkPP {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

:optional {
  opacity: 0.4;
  transition: 0.2s;
}

:optional:hover {
  opacity: 1;
}

input[type='text'],
input[type='password'],
input[type='number'],
input[type='textarea'],
select {
  font-family: latin-modern;
  color: black;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: #b7c6db;
  outline: none;
  font-size: 25px;
}

input[type='file'] {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  outline: none;
  justify-content: center;
  text-align: center;
}

input[type='checkbox'] {
  cursor: pointer;
}

.form-footer {
  display: block;
  align-content: center;
  width: 100%;
  padding: 10px 10px;
}

.form-footer h4 {
  width: 100%;
  text-align: center;
}

.submit-btn {
  font-family: latin-modern;
  box-shadow: 0 2px 4px 0 rgb(255, 255, 255); 
  color: black;
  background-color: #b7c6db;
  padding: 5px 5px 5px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
  text-align: center;
  opacity: 0.8;
  width: 50%;
}

.submit-btn:hover {
  opacity: 1;
}

/* || PAGE FOOTER || */

footer p {
  width: 70%;
}

footer a {
  color: black;
}

footer a:hover {
  text-decoration: underline;
}

footer ul {
  list-style: none;
  padding-left: 0;
}

.footer-main-title,
footer li {
  text-align: center;
}

.footer-form-title {
  text-align: left;
}

.footer-container {
  background-color: #b7c6db;
  color: black;
  line-height: 2;
  left: 0;
  top: 250px;
  margin-left: 0px;
  width: 100%;
}

.footer-main-section {
  padding: 2px 2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.footer-main-item {
  min-width: 15%;
  font-size: 18px;
}

.footer-main-title {
  font-size: 20px;
  font-weight: bolder;
}

.footer-newsletter-text {
  line-height: 1.0;
}

.footer-form {
  width: 90%;
  display: flex;
  flex-wrap: nowrap;
  box-shadow: 0 2px 4px 0 rgb(255, 255, 255);
  justify-content: space-between;
  align-content: center;
  background-color: #b7c6db;
}

.footer-form input[type='email'] {
  background-color: #b7c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
  font-family: latin-modern;
  border: none;
  font-size: 20px;
  margin-top: 2px;
  width: 70%;
  padding-left: 5px;
}

.footer-form input[type='submit'] {
  width: 30%;
  font-family: latin-modern;
  background-color: #0d136b;
  color: white;
  cursor: pointer;
  padding: 10px 5px;
  font-size: 20px;
  border-radius: 6px;
  font-family: latin_modern;
}

.footer-license {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 15px;
}